.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(to bottom right, #00bfff, #1e90ff);
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  src: local('Circe'), url('assets/fonts/CRC55.woff') format('woff');
}
@font-face {
  font-family: 'Circe Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('Circe Extra Light'), url('assets/fonts/CRC25.woff') format('woff');
}


@font-face {
  font-family: 'Circe-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Circe-Light'), url('assets/fonts/CRC35.woff') format('woff');
}


@font-face {
  font-family: 'Circe Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circe Bold'), url('assets/fonts/CRC65.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
